#posts {
    padding: 20px;
}

@media(min-width:450px) {
.postwrap {
    display:grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 3fr 1fr;
    grid-gap: 1em;
    }
}
.postwrap > div {
    background:#fff;
    border: 1px #F4783B solid;
    border-radius: 3px;
    grid-auto-rows: minmax(200px, auto);
}
.postwrap .n {
    grid-row: 1/3;
}
.postwrap .ue {
    grid-row: 3/5;
}
.postwrap .j {
    grid-row: 1/5;
}
.postwrap .header-posts {
    background: #F4783B;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 0.5em;
}
.postwrap .content-posts {
    /* padding: 10px; */
}

/* Animate posts in slider */
.content-posts .slider{
    padding: 5px;
}
.slider div {
    color: black;
    margin-bottom: 15px;
    padding: 2px 15px;
    text-align: center;  
}
.content-posts .slider .slider-text1 {
    position: relative;
    animation: slide 5s linear infinite;
}
@keyframes slide {
    0% {margin-top: 0px;}
    25% {margin-top: 10px;}
    50% {margin-top: 20px;}
    75% {margin-top: 30px;}
    100% {margin-top: 40px;}
    0% {margin-top: 0px;}
}
/* End of Animate posts in slider */