
/* News post section starts */

.post-contain {
    margin: 0px;
}
.post-scrollbar
{
    position: relative;
	background: #f3efec62;
    height: 320px;
	overflow-y: scroll;
	margin: 5px;
	border-radius: 4px;
}
.force-overflow
{
	min-height: 100px;
}
.post-cover {
    position: relative;
    margin: 3px;
}
.post {
    position: relative;
	margin: 15px;
	padding: 0.5px;
}
.hr {
	border: 0.5px solid #F4783B;
	margin-left: 50px;
	margin-right: 5px;
    /* margin: 11px; */
}
.datepost {
	position: relative;
	padding-right: 3px;
}
.datepost span {
    color: rgb(0, 0, 0);
    font-size: 12px;
    padding-right: 10px;
	float: left;
	padding-bottom: 3px;
	text-align: center;
}
.datepost span i {
	display: block;
    font-weight: 600;
    font-style: normal;
    font-size: 16 px;
    margin-top: -8px;
	margin-bottom: -8px;
}
.innercontent {
	margin-left: 40px;
	margin-right: 2px;
}

/* News post section ends */







/* Upcoming event posts starts */

.ue-contain {
	height: 165px;
	display: flex;
	margin: 5px;
	flex-wrap: wrap;
	overflow-y: scroll;
	padding-left: 1.5px;
}
.ue-contain > .ue-posts-cover {
	flex-grow: 1;
	flex: 1 1 30%;
}
.ue-posts-cover {
	height: 160px;
	border: 0.5px #F4783B double;
	margin: 3px;
	text-align: justify;
	overflow: hidden;
}
.ue-posts {
	margin: 5% 5px 5px 5px;
}
.ue-desc span{
	float: right;
	color: #428bca;
}

/* Upcoming event posts ends */






/* Job section style starts */
.job-contain {
	margin: 5px;
	height: 550px;
	overflow-y: scroll;
	border-radius: 4px;
}
.job-posts-cover {
	display: block;
}
.job-posts {
	display: flex;
	margin: 15px;
	align-content: space-between;
	
}
.job-posts .job-icon {
	
}
.job-posts .job-info {
	margin-left: 10px;
}
.job-separator {
	margin: 0 5% 0 5%;
	border: 1px #F4783B dotted;
}
.job-desc p {
	text-align: justify;
}
.job-apply input[type=button] {
	padding: 5px;
	border-radius: 3px;
}
.job-apply input[id=learn-more]{
	color: #000000;
}

/* JOb section style ends */














/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
	visibility: hidden;
}

#style-1::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
	visibility: hidden;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
	visibility: hidden;
	
}

/*
  *  STYLE 2
  */

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	 width: 12px;
	 background-color: #F5F5F5;
 }
 
 #style-2::-webkit-scrollbar-thumb
 {
	 border-radius: 10px;
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	 background-color: #D62929;
 }
 
 /*
  *  STYLE 3
  */
 
 #style-3::-webkit-scrollbar-track
 {
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	 background-color: #F5F5F5;
 }
 
 #style-3::-webkit-scrollbar
 {
	 width: 6px;
	 background-color: #F5F5F5;
 }
 
 #style-3::-webkit-scrollbar-thumb
 {
	 background-color: #000000;
 }
 
 /*
  *  STYLE 4
  */
 
 #style-4::-webkit-scrollbar-track
 {
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	 background-color: #F5F5F5;
 }
 
 #style-4::-webkit-scrollbar
 {
	 width: 10px;
	 background-color: #F5F5F5;
 }
 
 #style-4::-webkit-scrollbar-thumb
 {
	 background-color: #000000;
	 border: 2px solid #555555;
 }
 
 
 /*
  *  STYLE 5
  */
 
 #style-5::-webkit-scrollbar-track
 {
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	 background-color: #F5F5F5;
 }
 
 #style-5::-webkit-scrollbar
 {
	 width: 10px;
	 background-color: #F5F5F5;
 }
 
 #style-5::-webkit-scrollbar-thumb
 {
	 background-color: #0ae;
	 
	 background-image: -webkit-gradient(linear, 0 0, 0 100%,
						color-stop(.5, rgba(255, 255, 255, .2)),
						color-stop(.5, transparent), to(transparent));
 }
 
 
 /*
  *  STYLE 6
  */
 
 #style-6::-webkit-scrollbar-track
 {
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	 background-color: #F5F5F5;
 }
 
 #style-6::-webkit-scrollbar
 {
	 width: 10px;
	 background-color: #F5F5F5;
 }
 
 #style-6::-webkit-scrollbar-thumb
 {
	 background-color: #F90;	
	 background-image: -webkit-linear-gradient(45deg,
											   rgba(255, 255, 255, .2) 25%,
											   transparent 25%,
											   transparent 50%,
											   rgba(255, 255, 255, .2) 50%,
											   rgba(255, 255, 255, .2) 75%,
											   transparent 75%,
											   transparent)
 }
 
 
 /*
  *  STYLE 7
  */
 
 #style-7::-webkit-scrollbar-track
 {
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	 background-color: #F5F5F5;
	 border-radius: 10px;
 }
 
 #style-7::-webkit-scrollbar
 {
	 width: 10px;
	 background-color: #F5F5F5;
 }
 
 #style-7::-webkit-scrollbar-thumb
 {
	 border-radius: 10px;
	 background-image: -webkit-gradient(linear,
										left bottom,
										left top,
										color-stop(0.44, rgb(122,153,217)),
										color-stop(0.72, rgb(73,125,189)),
										color-stop(0.86, rgb(28,58,148)));
 }
 
 /*
  *  STYLE 8
  */
 
 #style-8::-webkit-scrollbar-track
 {
	 border: 1px solid rgba(255, 144, 41, 0.856);
	 background-color: rgb(255, 255, 255);
	 border-radius: 4px;
 }
 
 #style-8::-webkit-scrollbar
 {
	 width: 10px;
	 background-color: rgb(255, 255, 255);
 }
 
 #style-8::-webkit-scrollbar-thumb
 {
	 background-color: #ff7b00ab;
	 border-radius: 4px;	
 }
 
 
 /*
  *  STYLE 9
  */
 
 #style-9::-webkit-scrollbar-track
 {
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	 background-color: #F5F5F5;
 }
 
 #style-9::-webkit-scrollbar
 {
	 width: 10px;
	 background-color: #F5F5F5;
 }
 
 #style-9::-webkit-scrollbar-thumb
 {
	 background-color: #F90;	
	 background-image: -webkit-linear-gradient(90deg,
											   transparent 25%,
											   transparent 50%,
											   rgba(255, 255, 255, .2) 50%,
											   rgba(255, 255, 255, .2) 75%,
											   transparent 75%,
											   transparent)
 }
 
 /*  STYLE 10 */
 
 #style-10::-webkit-scrollbar-track
 {
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	 background-color: #F5F5F5;
	 border-radius: 10px;
 }
 
 #style-10::-webkit-scrollbar
 {
	 width: 10px;
	 background-color: #F5F5F5;
 }
 
 #style-10::-webkit-scrollbar-thumb
 {
	 background-color: #AAA;
	 border-radius: 10px;
	 background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .2) 25%,transparent 25%, transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%, transparent 75%, transparent)
 }
 
 /*  STYLE 11  */
 
 #style-11::-webkit-scrollbar-track
 {
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	 background-color: #F5F5F5;
	 border-radius: 10px;
 }
 
 #style-11::-webkit-scrollbar
 {
	 width: 10px;
	 background-color: #F5F5F5;
 }
 
 #style-11::-webkit-scrollbar-thumb
 {
	 background-color: #3366FF;
	 border-radius: 10px;
	 background-image: -webkit-linear-gradient(0deg,  rgba(255, 255, 255, 0.5) 25%,  transparent 25%, transparent 50%,  rgba(255, 255, 255, 0.5) 50%,  rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent)
 }
 
 /*
  *  STYLE 12
  */
 
 #style-12::-webkit-scrollbar-track
 {
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	 border-radius: 10px;
	 background-color: #444444;
 }
 
 #style-12::-webkit-scrollbar
 {
	 width: 12px;
	 background-color: #F5F5F5;
 }
 
 #style-12::-webkit-scrollbar-thumb
 {
	 border-radius: 10px;
	 background-color: #D62929;
	 background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
 }
 
 /*
  *  STYLE 13
  */
 
 #style-13::-webkit-scrollbar-track
 {
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	 border-radius: 10px;
	 background-color: #CCCCCC;
 }
 
 #style-13::-webkit-scrollbar
 {
	 width: 12px;
	 background-color: #F5F5F5;
 }
 
 #style-13::-webkit-scrollbar-thumb
 {
	 border-radius: 10px;
	 background-color: #D62929;
	 background-image: -webkit-linear-gradient(90deg,transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
 }
 
 /*
  *  STYLE 14
  */
 
 #style-14::-webkit-scrollbar-track
 {
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	 background-color: #CCCCCC;
 }
 
 #style-14::-webkit-scrollbar
 {
	 width: 10px;
	 background-color: #F5F5F5;
 }
 
 #style-14::-webkit-scrollbar-thumb
 {
	 background-color: #FFF;
	 background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, transparent 100%, rgba(0, 0, 0, 1) 75%, transparent)
 }
 
 /*
  *  STYLE 15
  */
 
 #style-15::-webkit-scrollbar-track
 {
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	 background-color: #F5F5F5;
	 border-radius: 10px;
 }
 
 #style-15::-webkit-scrollbar
 {
	 width: 10px;
	 background-color: #F5F5F5;
 }
 
 #style-15::-webkit-scrollbar-thumb
 {
	 border-radius: 10px;
	 background-color: #FFF;
	 background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#4D9C41), to(#19911D), color-stop(.6,#54DE5D))
 }
 
 /*
  *  STYLE 16
  */
 
 #style-16::-webkit-scrollbar-track
 {
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	 background-color: #F5F5F5;
	 border-radius: 10px;
 }
 
 #style-16::-webkit-scrollbar
 {
	 width: 10px;
	 background-color: #F5F5F5;
 }
 
 #style-16::-webkit-scrollbar-thumb
 {
	 border-radius: 10px;
	 background-color: #FFF;
	 background-image: -webkit-linear-gradient(top, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%,  #2ab0ed 100%);
 }
 /* Scroll bar style ends */
