#posts {
    padding: 20px;
}

@media(min-width:450px) {
.postwrap {
    display:grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 3fr 1fr;
    grid-gap: 1em;
    }
}
.postwrap > div {
    background:#eee;
    padding: 1em;
    border: 1px orange solid;
    border-radius: 3px;
    grid-auto-rows: minmax(200px, auto);
}
.postwrap .n {
    grid-row: 1/3;
}
.postwrap .ue {
    grid-row: 3/5;
}
.postwrap .j {
    grid-row: 1/5;
}