body {
	margin: 0;
	padding: 0;
	background: #000;
}
.newsevents {
	padding-top: 140px;
	height: 480px;
	width: 100%;
}

.news-profile {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	width: 60%;
	height: 320px;
}

.events-profile {
	position: absolute;
	display: inline-block;
	padding-left: 10px;
	width: 35%;
	height: 320px;
}

.jobs-profile {
	display: block;
	position: absolute;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	height: 120px;
}
h2 {
	font-style: bold;
	color: white;
	background-color: black;
	text-align: center;
	background-color: rgba(255, 176, 29, 0.575);
	border-radius: 3px;
}

.breakline {
	white-space: pre;
}

#ele {
	color: #fff;
	list-style: square;
	padding-left: 10px;
}